.cart {
    background: linear-gradient(#8f8d80 -70.13%, #E0CCBE 87.76%);
    height: auto;
    position: sticky;
    top: 72px;
    padding: 5px 20px 20px;
}

.CartHead {
    text-align: center;
}

.cartDoneBtn {
    width: auto;
    height: 48px;
    flex-shrink: 0;
    background-color: #B2A59B;
    color: black;
}

.cartDoneBtn:hover{
    background-color: #1ba256;
}

