.active {
    background-color: #4d6e90;

    /* Light Blue */
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s ease;
    padding: 8px;
    width: 60px;
    text-align: center;
}

/* Styling for the active list item in the navbar */
.navbar li.active {}
.navbar li.active {
  }
  